*.pyc
pycache
*.egg-info
*.egg
.ruff_cache
userdata.pytest_cache
**pytest_cache

/Social_Network_MaksiX/userdata/__pycache__
/Social_Network_MaksiX/__pycache__
/Social_Network_MaksiX/.ruff_cache
/Social_Network_MaksiX/.env
.dockerignore
.gitignore
.env
.ruff_cache
__pycache__
requirements.txt
.git
.github
.idea
venv
*.pyo
*.swp

db.sqlite3
db.sqlite3-journal
*.sqlite3
*.db

media_root/*

static_root/*

*.log

bin/
include/
lib/
lib64/
local/
pip-selfcheck.json
share/
coverage.xml
.tox/