.idea/
venv/
.env
Social Network MaksiX/config/__pycache__/
Social Network MaksiX/friends/__pycache__/
Social Network MaksiX/music/__pycache__/
Social Network MaksiX/posts/__pycache__/
Social Network MaksiX/userdata/__pycache__/
